@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calc-box {
  width: 740px;
}

.container {
  width: 700px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.top {
  background: #ebf6be;
}

.bottom {
  background: #aabccc;
}

.invisible {
  color: #aabccc;
}

h1, h2, h3, h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

h1, h2, p {
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 0.5em;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 1.25rem;
}

p {
  margin-bottom: 1rem;
}

#result span {
  font-family: "Oswald", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
}
#result span + span {
  margin-left: 2rem;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type=text] {
  width: 80px;
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

input[type=text]:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type=submit],
input[type=reset],
input[type=button] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbbbbb;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button:hover,
button:hover,
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover,
.button:focus,
button:focus,
input[type=submit]:focus,
input[type=reset]:focus,
input[type=button]:focus {
  color: #333333;
  border-color: #888888;
  outline: 0;
}

.button.button-primary,
button.button-primary,
input[type=submit].button-primary,
input[type=reset].button-primary,
input[type=button].button-primary {
  color: #ffffff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type=submit].button-primary:hover,
input[type=reset].button-primary:hover,
input[type=button].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type=submit].button-primary:focus,
input[type=reset].button-primary:focus,
input[type=button].button-primary:focus {
  color: #ffffff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}